<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Application Approved</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div>  
   
<p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"><b>Greetings,</b></p>
<p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">

Congratulations!! You are now our active recruitment employer. Welcome to the Emagine Family – India’s No. 1 Recruitment Marketplace.<br><br>

Visit www.emagine.co.in for active jobs.<br><br>

<b>Hoping for long term Association.</b>


Regards
Vendor Management Team.

</p>

</div>
</body>
</html>