<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Application Rejected</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div>  
   
<p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"><b>Greetings from Emagine People Solutions!!</b></p>
<p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">

We are currently unable to complete the onboarding process for you due to insufficient details or unmet criteria. <br><br>

If you have any queries, please call or WhatsApp on 8291812575.<br><br>

<b>Or Drop us an email on </b> <u>new.clientpartner@emagine.co.in</u>

</p>

</div>
</body>
</html>




